* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.App {
  max-width: 400px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #f33360;
  min-height: 100vh;

  .home-head-section {
    background: #2f2f2f;
    position: relative;
    padding: 15px;
    .btn-add,
    .btn-report {
      color: #fff;
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #19a3e4;
    }
    .btn-report {
      left: 10px;
    }
    .home-title {
      text-align: center;
      color: #18ceed;
      font-weight: 600;
    }
    .home-button-selection {
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      button {
        width: 120px;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #f3f3f3;
        font-weight: 600;
      }
    }
    .current-amount {
      color: #e39722;
      text-align: center;
      font-size: 30px;
      margin-top: 25px;
    }
  }

  .home-spend {
    padding: 15px;
    display: grid;
    //grid-gap: 15px;
    .category-spend {
      background-color: #343434;
      color: #fff;
      //border-radius: 5px;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .component-add {
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: #ffac46;
    left: 0;
    box-shadow: 0 0 5px #a0a0a0;
    transition: all 600ms ease;
    input {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      margin-top: 15px;
    }
    button {
      width: 100%;
      padding: 10px 0;
      margin-top: 15px;
      border: none;
      font-size: 16px;
      background-color: #19a3e4;
      border-radius: 5px;
    }
  }

  .bottom-0 {
    bottom: 0;
  }

  .bottom-min-100 {
    bottom: -35%;
  }
}

.report {
  padding: 15px;
  h4 {
    text-align: center;
    font-size: 18px;
  }
}
