* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.App {
  max-width: 400px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #f33360;
  min-height: 100vh;

  select {
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    border: none;
  }
  .home-head-section {
    background: #2f2f2f;
    position: relative;
    padding: 15px;
    .btn-add,
    .btn-report {
      color: #fff;
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #19a3e4;
    }
    .btn-report {
      left: 10px;
    }
    .home-title {
      text-align: center;
      color: #08b0cc;
      font-weight: 400;
    }
    .home-button-selection {
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      button {
        width: 120px;
        border: none;
        padding: 10px 15px;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid #19a3e4;
        color: #f6f6f6;
        font-weight: 600;
      }
    }
    .current-amount {
      color: #e39722;
      text-align: center;
      font-size: 30px;
      margin-top: 25px;
    }
  }

  .home-spend {
    padding: 15px;
    display: grid;
    background-color: #343434;
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 8px;
    //grid-gap: 15px;
    .category-spend {
      color: #fff;
      border-bottom: #5a5a5a 1px solid;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .component-add {
    position: fixed;
    width: 100%;
    padding: 15px;
    background-color: #3c3d3e;
    border-top: 2px solid #4a758a;
    box-shadow: 0 0 10px #000;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 600ms ease;
    input {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      margin-top: 15px;
      border: none;
      border-radius: 30px;
    }
    button {
      width: 100%;
      padding: 10px 0;
      margin-top: 15px;
      border: none;
      font-size: 16px;
      background-color: #19a3e4;
      border-radius: 30px;
      color: #fff;
    }
  }

  .bottom-0 {
    bottom: 0;
  }

  .bottom-min-100 {
    bottom: -35%;
  }
}

.report {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  h4 {
    text-align: center;
    font-size: 18px;
  }
  .report-parameter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .report-table {
    padding: 15px;
    background-color: #343434;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    .daily-parent {
      display: grid;
      grid-gap: 15px;
      .daily-report {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        align-items: center;
        button {
          padding: 5px 10px;
          border-radius: 5px;
          background-color: #00adff;
          color: #fff;
        }
      }
    }
  }
  button {
    padding: 0 10px;
    border: none;
  }
}
